$navy: #13294b;
$orange: #f68d2e;
$blue: #6cace4;
$white: white;
$grey: #dde5ed;
$purple: #7d55c7;
$green: #009739;
$red: #f93822;
$yellow: #ffb81c;
$form-grey: #eef2f6;
$navy-50: #8994a5;
$navy-25: #c4cad2;
$midnight-blue: #a0a9b7;
$navy-75: #4e5f78;
$pink: #ff3eb5;