@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../../public/proximanova-bold.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../../public/proximanova-regular.otf') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../../public/proximanova-light.otf') format('opentype');
}