@use '../../styles/colours.scss' as colours;

.summary {
  padding: 8px;
  background-color: colours.$grey;
  background-image: linear-gradient(270deg, colours.$orange, colours.$navy 50%, colours.$blue);
  position: fixed;
  z-index: 99999;
  bottom: 16px;
  right: 16px;
  border-radius: 10px;
}

.content {
  padding: 16px;
  border-radius: 10px;
  background-color: colours.$white;
}