@use "../../styles/colours.scss" as colours;
@use "../../styles/mixins.scss" as mixins;

.card {
  border: 1px solid colours.$navy;
  background-color: colours.$white;
  color: colours.$navy;
  border-radius: 1rem;
  box-shadow: 0 5px 10px colours.$border-gray;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  margin: 16px 0;
  min-height: 180px;

  .title, .content {
    @include mixins.p;
  }

  .title {
    @include mixins.bold;
  }

  .choice, .title {
    margin-bottom: 16px;
  }

  .choice {
    background-color: transparent;
    border: 1px solid colours.$orange;
    color: colours.$orange;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: colours.$navy;
    }
  }

  .isEmpty {
    opacity: 0.25;
  }


  &.cardDark {
    background-color: colours.$navy;
    color: colours.$white;
    border-color: colours.$white;

    .choice {
      &:hover {
        background-color: colours.$white;
      }
    }
  }
}