@use "../../styles/colours.scss" as colours;
@use "../../styles/mixins.scss" as mixins;

.hint {
  width: auto;
  text-align: right;
  // text-decoration: underline;
  @include mixins.pSmall;
}

.manual {
  color: colours.$yellow;
}

.auto {
  color: colours.$green;
}