@use "../../styles/colours.scss" as *;
@use "../../styles/breakpoints.scss" as *;
@import "../../styles/mixins.scss";

.wrapper {
  margin: 64px auto 0;
  max-width: $tablet;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;

  .search, .pagination, .filters {
    width: 100%;
    margin-bottom: 16px;
  }

  .filters {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px 0;

    span {
      @include p;
      margin: 0 16px;
    }

    button {
      appearance: none;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 24px;
      @include bold;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;

    .search, .pagination, .filters {
      width: 30%;
      margin-bottom: 0;
    }
    
  }
}

.columns {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  width: calc(50% - 50px);
}
.colHeading {
  @include p;
  @include bold;
}

.arrowCol {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    @include bold;
    @include textGradSpin;
    font-size: 32px;
  }
}