@use 'styles/colours' as colours;
@use 'styles/breakpoints' as breakpoints;
@use 'styles/mixins' as mixins;

.wrapper {
  width: 100vw;
  max-width: 1280px;
  padding: 0 24px;
  margin: 128px auto;

  @media (min-width: breakpoints.$tablet) {
    padding: 0 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    @include mixins.h1;
    margin-bottom: 32px;

    span {
      @include mixins.textGradSpin;
    }
  }
  
  .subtitle {
    @include mixins.h2;
    margin-bottom: 24px;
  }

  .uploadButton {
    margin-top: 16px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .instructions {
      @include mixins.p;
      margin-bottom: 16px;
    }
  }
}